<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
  </head>
  <body style="padding: 50px;">
    <h1>Cloud Computing</h1>
    <p>This is a basic RESPful API server to provide simulated data to our Expo/Next/Paper web and phone apps. </p>
    <p>You should connect to MongoDb and retrieve the data from there instead.</p>
    <p>This server also provides images to our web and phone apps (the images are in the public/images folder). </p>
  </body>
</html>
